#root {
  display: flex;
  width: 100%;
  margin: 0;
  overflow: visible;

  background-image: url('./assets/images/grid.svg');

  @media (max-width: 1500px) {
    flex-direction: column;
  }
}

html.dark #root {
  background-image: url('./assets/images/grid_dark.svg');
}
