@value theme-toggle-spacing: 1rem;

.theme-toggle {
  position: absolute;
  right: theme-toggle-spacing;
  /* Horizontal nav bar positioning */
  bottom: calc(50% - (var(--toggle-height) / 2));

  /* Vertical nav bar positioning */
  @media (min-width: 1500px) {
    right: calc(50% - (var(--toggle-height) / 2));
    bottom: theme-toggle-spacing;
  }
}

.animation-toggle {
  position: absolute;
  right: calc(theme-toggle-spacing + var(--toggle-width));
  margin-right: 1.5rem;
  /* Horizontal nav bar positioning */
  bottom: calc(50% - (var(--toggle-height) / 2));

  /* Vertical nav bar positioning */
  @media (min-width: 1500px) {
    right: calc(50% - (var(--toggle-height) / 2));
    bottom: calc(theme-toggle-spacing + var(--toggle-width));
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
}
